.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .detail-img{
        height: 400px;
        width: 500px;
        border: 1px brown solid;
    }
    .detail-name{
        font-size: 36px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 18px;
    }
    .detail-detail{
        border: 1px brown solid;
        padding: 15px;
        width: 500px;
    }
    .card-details{
        border: 1px brown solid;
        text-decoration: none;
        margin: 5px;
        color: brown;
        padding: 3px;
        background-color: whitesmoke;
        box-shadow: 0, 0, 0, 0.3;
        &:hover{
            background-color: rgba(187, 187, 187, 0.411);
        }
        &:active{
            font-size: 20px;
            background-color: whitesmoke;
        }
    }
}