@import "ItemCount";

@mixin fondo-card{
    background-image: url(../media/fondo-alternativo.png)
    
}
@mixin fondo-boton{
    background-image: url(../media/fondo-cards.gif)
}
$color-fuente: #880404;

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 15px;
    margin: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    @include fondo-card;
    .card-img{
        width: 225px;
        height: 150px;
        border: solid $color-fuente 2px;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
    }
    .card-text{
        border: solid $color-fuente 2px;
        width: 225px;
        height: 250px;
        margin: 10px;
        text-align: center;
        box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.3);
        @include fondo-boton;
        .card-name{
            @include fondo-boton;
            text-align: center;
            font-weight: bolder;
            font-size: 25px;
        }
        .card-model{
            @include fondo-boton;
            font-family: italic;
            font-size: 18px;
            text-align: center;
        }
        .card-description{
            @include fondo-boton;
            text-align: center;
        }
    }
    .card-details{
        border: 1px $color-fuente solid;
        text-decoration: none;
        margin: 5px;
        color: $color-fuente;
        padding: 3px;
        @include fondo-boton;
        box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.3);
        &:hover{
            font-size: 115%;
            color: red;
        }
        &:active{
            font-size: 20px;
            background-color: whitesmoke;
        }
    }
}

@media screen and (max-width: 700px){
    .card{
        width: 230px; //reduccion del %30
        height: 400px;
        padding: 0;
        .card-img{
            width: 150px;
            height: 75px;
            margin: 2px;
        }
        .card-name{
            font-size: 18px;
            margin: 3px;
        }
        .card-model{
            font-size: 14px;
            margin: 0;
        }
        .card-description{
            font-size: 12px;
            margin: 0;
        }
        .card-details{
            font-size: 16px;
            margin: 5px;
            padding: 2px;
        }
    }
}