@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
$color-fuente: rgb(136, 4, 4);

.home_contacto {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    justify-content: center;
    align-items: center;
    .contacto-titulo{
        background-image: url(../media/fondo-cards.gif);
        padding: 5px;
        border-radius: 15px;
        border: solid $color-fuente 2px;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    }
    .contacto{
        display: flex;
        flex-direction: row;
        .perfil { 
            width: 400px;
            height: 400px;
            margin: 1.25em;
            border: solid $color-fuente 2px;
            box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
            &:hover { 
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
            }
        .dato {
            background-image: url(../media/fondo-cards.gif);
            box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
            margin: 1.25em;
            padding: 0.9375em;
            border-radius: 3.125em;
            &:hover{
                border-bottom: 3px solid $color-fuente;
                box-shadow: 4px 4px 4px 2px rgba(136, 4, 4, 0.575);
            }
        }
    }
}

@media screen and (max-width: 600px){
    .home_contacto{
        .contacto{
            flex-direction: column;
            .perfil{
                width: 300px;
                height: 300px;
                margin: 0;
            }
        }
    }
}