.icon_pipa {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid brown;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid brown;
  padding: 3px;
  margin: 3px;
}
.nav .nombreTienda {
  font-size: 30px;
  border: solid 1px brown;
  padding: 10px;
}
.nav .navLink {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.nav .navLink:hover {
  color: white;
  background-color: brown;
}
.nav .navLink:active {
  color: black;
  font-size: 200%;
}

body {
  background-color: orange;
}

.contador {
  background-color: whitesmoke;
  border: 1px solid brown;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 100px;
}
.contador .contador-cantidad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  border: black 2px solid;
  background-color: whitesmoke;
  width: 200px;
}
.contador .contador-cantidad p {
  font-weight: 600;
}
.contador .contador-cantidad button {
  background-color: whitesmoke;
  border: black 2px solid;
  width: 30px;
  font-size: 20px;
  font-weight: 400;
}
.contador .contador-cantidad button:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.contador .contador-cantidad button:active {
  font-size: 25px;
  background-color: whitesmoke;
}
.contador .contador-carrito {
  color: brown;
  background-color: whitesmoke;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
}
.contador .contador-carrito:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.contador .contador-carrito:active {
  font-size: 20px;
  background-color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid brown 1px;
  padding: 15px;
  margin: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(248, 223, 177);
}
.card .card-img {
  width: 225px;
  height: 150px;
  border: solid brown 1px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.card .card-name {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.card .card-model {
  font-family: italic;
  font-size: 18px;
  text-align: center;
}
.card .card-description {
  text-align: center;
}
.card .card-details {
  border: 1px brown solid;
  text-decoration: none;
  margin: 5px;
  color: brown;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: 0, 0, 0, 0.3;
}
.card .card-details:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.card .card-details:active {
  font-size: 20px;
  background-color: whitesmoke;
}

.pipas {
  text-align: center;
}

.container-pipas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-shop {
  width: 90%;
  margin: 10px;
}
.container-shop .loading {
  text-align: center;
  font-size: 50px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail .detail-img {
  height: 400px;
  width: 500px;
  border: 1px brown solid;
}
.detail .detail-name {
  font-size: 36px;
}
.detail h4 {
  font-size: 24px;
}
.detail h5 {
  font-size: 18px;
}
.detail .detail-detail {
  border: 1px brown solid;
  padding: 15px;
  width: 500px;
}
.detail .card-details {
  border: 1px brown solid;
  text-decoration: none;
  margin: 5px;
  color: brown;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: 0, 0, 0, 0.3;
}
.detail .card-details:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.detail .card-details:active {
  font-size: 20px;
  background-color: whitesmoke;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
body {
  color: rgb(107, 0, 0);
  font-family: "BIZ UDPMincho", serif;
}

.carrito-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito-container .vaciarCarrito {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: brown;
  border: 1px brown solid;
  text-decoration: none;
  margin: 5px;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: 0, 0, 0, 0.3;
  width: 250px;
  height: 50px;
}
.carrito-container .vaciarCarrito:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.carrito-container .vaciarCarrito:active {
  font-size: 20px;
  background-color: whitesmoke;
}
.carrito-container .carro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.carrito-container .carro .precioTotal {
  font-size: 20px;
  font-weight: bolder;
}
.carrito-container .carro .productoCarro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: solid 1px brown;
  margin: 10px;
  width: 600px;
  height: 100px;
  padding: 10px;
}
.carrito-container .carro .productoCarro .productoCarro-img {
  height: 95px;
  width: 150px;
  border: solid 2px brown;
}
.carrito-container .carro .productoCarro div .botonCarro {
  color: brown;
  border: 1px brown solid;
  text-decoration: none;
  margin: 5px;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: 0, 0, 0, 0.3;
}
.carrito-container .carro .productoCarro div .botonCarro:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.carrito-container .carro .productoCarro div .botonCarro:active {
  font-size: 20px;
  background-color: whitesmoke;
}
.carrito-container .carritoVacio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrito-container .carritoVacio .carritoVacio-text {
  font-size: 30px;
}
.carrito-container .carritoVacio .carritoVacio-link {
  text-decoration: none;
  color: brown;
  border: 1px brown solid;
  text-decoration: none;
  margin: 5px;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: 0, 0, 0, 0.3;
}
.carrito-container .carritoVacio .carritoVacio-link:hover {
  background-color: rgba(187, 187, 187, 0.411);
}
.carrito-container .carritoVacio .carritoVacio-link:active {
  font-size: 20px;
  background-color: whitesmoke;
}/*# sourceMappingURL=App.css.map */