.miembros{
    .miembros_titulo{
        text-align: center;
        font-size: 50px;
    }
    .miembros_lista{
        .miembros_nombres{
            font-size: 30px;
            color: red;
            text-align: center;
        }
    }
}